%p#notice= notice
%h1 Passwords
%table
  %thead
    %tr
      %th{:colspan => "5"}
  %tbody
    = form_for :password do |f|
      %tr
        %td
          = f.input :len
        %td
          = f.check_box :upcase_first
        %td
          = f.check_box :spec_char
        %td
          = f.check_box :upcase_any
        %td
          = @result ? @result.to_s : ""

%br/
