.container-fluid
  %p#notice= notice
  %h3 Passwords Generator
  %p
    .card.card-body.bg-light
      Passwords generated using a pseudorandom number generator
      attempting to generate passwords with high entropy and memorable.
  %table.pw_gen_table
    -#%thead
      %tr
        %th.text-center
          Length
        %th.text-center
          Upcase 1st Char
        %th.text-center
          Special Chars
        %th.text-center
          Upcase Anywhere
    %thead
      %col{style: "width: 20%"}
      %col{style: "width: 80%"}
    %tbody
      = form_for :password, remote: true do |f|
        %tr
          %td
            Length
          %td
            - vals = []
            - i = 6
            - while i < 24
              - vals << [i, i]
              - i += 1
            =# f.select :len, options_for_select(vals)
            = f.number_field :len, value: 8, min: 6
        %tr
          %td
            Capitalize first character
          %td
            = f.check_box :upcase_first
        %tr
          %td
            Add special characters
          %td
            = f.check_box :spec_char
        %tr
          %td
            Capitalize characters anywhere
          %td
            = f.check_box :upcase_any
        %tr
          %td
            Number to generate
          %td
            = f.number_field :num, value: 10, min: 1
        %tr
          %td
            Results
          %td
            %div#results{style: "display: none;"}
              = @results.join("\n")
        %tr
          %td
          %td
            .card.card-body.bg_light
              %div#strengths
                %table#strength_table
                  %thead
                    %tr
                      %td{style: ""}
                        Password
                      %td
                        100/hour<br/>Throttled
                      %td
                        10/sec<br/>NonThrottled
                      %td
                        Offline<br/>Slow
                      %td
                        Offline<br/>Fast
                  %tbody
                    %tr
                      %td
                      %td
                      %td
                      %td
                      %td

        %tr
          %td
          %td
            = f.submit "Generate"
  %br/
