!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pseudorandom Password Generator
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "https://unlcms.unl.edu/wdn/templates_5.3/css/main.css", media: "screen"
    =# stylesheet_link_tag "https://unlcms.unl.edu/wdn/templates_5.3/scss/utilities/_utilities.typography.scss", type: 'text/plain', media: "screen"
    =# stylesheet_link_tag "/wdn/css/all.css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag "https://unlcms.unl.edu/wdn/templates_5.3/includes/global/favicon/favicon.ico", type: :favicon
    = render partial: 'layouts/header'
  %body
    = yield
